@model Dominio.EntidadesDominio.Mantenimiento

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Mantenimiento para la cabaña @ViewBag.Cabana.NombreCabana</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FechaMant" class="control-label"></label>
                <input asp-for="FechaMant" class="form-control" />
                <span asp-validation-for="FechaMant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescMant" class="control-label"></label>
                <input asp-for="DescMant" class="form-control" />
                <span asp-validation-for="DescMant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostoMant" class="control-label"></label>
                <input asp-for="CostoMant" class="form-control" />
                <span asp-validation-for="CostoMant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Personal" class="control-label"></label>
                <input asp-for="Personal" class="form-control" />
                <span asp-validation-for="Personal" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="CabanaId" class="control-label"></label>
                <input asp-for="CabanaId" class="form-control" value="@ViewBag.Cabana.Id" readonly/>
                <span asp-validation-for="CabanaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>@ViewBag.Error</div>

<div>
    @Html.ActionLink("Volver", "Index", new {  CabanaId=ViewBag.Cabana.Id })
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
